<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>CKAN Embed category test</title>

    <!-- Load library dependencies -->
    <script src="../node_modules/jquery/dist/jquery.js" charset="utf8"></script>
    <script src="../node_modules/ckan/dist/ckan.bundle.js" charset="utf8"></script>

    <!-- Load the widget script -->
    <script src="../dist/ckan-embed.js"></script>

    <!-- Some example styles -->
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://ckan.org/static/img/ckan.ico">
  </head>
  <body>
    <h1>CKAN Embed category test</h1>
    <p>
      For more information visit the
      <a href="https://handbook.opendata.swiss/de/content/glossar/bibliothek/embed.html">Handbook documentation</a> and
      <a href="https://github.com/opendata-swiss/ckan-embed">GitHub project</a>.
    </p>
    <p>&lt; Back to <a href="index.html">start page</a>.</p>

    <h2>Search BFS datasets with selection of category.</h2>
    <hr>

    <ul id="groupSelector" class="nav nav-pills nav-stacked">
      <li class="nav-item break-word">
        <a href="#" data-group="heal">
          Health
        </a>
      </li>
      <li class="nav-item break-word">
        <a href="#" data-group="just">
          Justice
        </a>
      </li>
      <li class="nav-item break-word">
        <a href="#" data-group="envi">
          Environment
        </a>
      </li>
      <li class="nav-item break-word">
        <a href="#" data-group="econ">
          Economics
        </a>
      </li>
  </ul>

    <div class="ckan-embed opendata-swiss" id="example-2"></div>

    <script>
    function embedGroup(group) {
      CKANembed.search('#example-2', 'https://opendata.swiss/', {
        fq:       'organization:bundesamt-fur-statistik-bfs groups:' + group,
        rows:     5,
        lang:     'de',
        sort:     'title_string_de asc',
        noresult: 'Sorry, nothing found',
        template:
          '<div class="ckan-dataset">' +
          '<a href="<%= ds.url %>">' +
          '<h4><%= ds.title %></h4>' +
          '</a>' +
          '<p><%= CKANembed.truncate(ds.description, 250) %></p>' +
          '<em>Formats:</em> <small><%= ds.formats.toUpperCase() %></small>' +
          //'<small><%= ds.modified %></small>' +
          '</div>'
      });
    }

    // Selector
    $('#groupSelector a').click(function(e) {
      e.preventDefault(); e.stopPropagation();
      embedGroup($(this).attr('data-group'));
      $(this).parents('ul').find('li').removeClass('active');
      $(this).parents('li').addClass('active');
    });
    </script>
    <style>
      #groupSelector li { font-weight: normal; list-style-type: circle; }
      #groupSelector li.active { font-weight: bold; list-style-type: disc; }
    </style>
  </body>
</html>
